* text=auto !eol
/apertium-tgl-ceb.ceb.dix -text
/apertium-tgl-ceb.tgl-ceb.dix -text
/apertium-tgl-ceb.tgl.dix -text
dev/ceb.hitparade.txt -text
dev/test_phrases.txt -text
dev/tgl.hitparade.txt -text
dev/verbs/Makefile -text
dev/verbs/tgl.lexc -text
dev/verbs/tgl.twol -text
