* text=auto !eol
/Makefile -text
/apertium-tgl-ceb.ceb.dix -text
/apertium-tgl-ceb.tgl-ceb.dix -text
/apertium-tgl-ceb.tgl.dix -text
dev/ceb.hitparade.txt -text
dev/coverage-test.sh -text
dev/hitparade.sh -text
dev/scream-filengnor.py -text
dev/scream-splitout.py -text
dev/scream-xmlout-nouns.py -text
dev/splitout/tgl.filengnor-output.adj.txt -text
dev/splitout/tgl.filengnor-output.adj__adv.txt -text
dev/splitout/tgl.filengnor-output.adv.txt -text
dev/splitout/tgl.filengnor-output.aux.txt -text
dev/splitout/tgl.filengnor-output.comp.txt -text
dev/splitout/tgl.filengnor-output.conj.txt -text
dev/splitout/tgl.filengnor-output.excl.txt -text
dev/splitout/tgl.filengnor-output.expr.txt -text
dev/splitout/tgl.filengnor-output.gram.txt -text
dev/splitout/tgl.filengnor-output.idiom.txt -text
dev/splitout/tgl.filengnor-output.idiomatic.txt -text
dev/splitout/tgl.filengnor-output.indef.txt -text
dev/splitout/tgl.filengnor-output.int.txt -text
dev/splitout/tgl.filengnor-output.interrog.txt -text
dev/splitout/tgl.filengnor-output.intrj.txt -text
dev/splitout/tgl.filengnor-output.n.txt -text
dev/splitout/tgl.filengnor-output.pl.txt -text
dev/splitout/tgl.filengnor-output.pref.txt -text
dev/splitout/tgl.filengnor-output.prep.txt -text
dev/splitout/tgl.filengnor-output.pron.txt -text
dev/splitout/tgl.filengnor-output.txt -text
dev/splitout/tgl.filengnor-output.v.txt -text
dev/test_phrases.txt -text
dev/tgl.hitparade.txt -text
dev/verbs/HfstTester.py -text
dev/verbs/Makefile -text
dev/verbs/ceb-tests.yaml -text
dev/verbs/ceb.lexc -text
dev/verbs/ceb.twol -text
dev/verbs/lexcGen.py -text
dev/verbs/tests.json -text
dev/verbs/tgl-tests.yaml -text
dev/verbs/tgl.lexc -text
dev/verbs/tgl.relabel -text
dev/verbs/tgl.twol -text
